*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding:0 6rem;
}

  header{
    background-color: white;
    padding: 1rem 0;
    z-index: 1;
    width: 100%;
    position: fixed;
}
    
 

    .headerD .left img{
        width: 80%;
    }
       
        
    .headerD .left{
        width: 15%;
    }
   .headerD .right{
       width: 75%;
       text-align: right;
   }
    

.headerD a{
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: #333;;
   
    
}
.headerD{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  


.Make{
    background-image: url('../img/1.jpg');
  text-align: center;
   background-position: center;
   background-size: cover;
   padding: 13rem;
}
.Make h5{
    font-size: 20px;
    color: #ffffff;
}
 .Make h1{
     font-size: 60px;
     color: #ffffff;
     margin-top: 20px;
     margin-bottom: 50px;
     
 }  
 .Make a{
     border: 2px solid transparent;
     background-color: #6168ff;
     padding: 13px 25px;
     border-radius: 5px;
     color: white;
     text-transform: uppercase;
     text-decoration: none;
     transition: 0.4s;
     
 }
 .Make a:hover{
     background-color: transparent;
     border-color: #ffffff;
    }

     #Pieces{
         padding: 7rem 0;
         width: 100%;
         
     }
     #Pieces .disp{
         display: flex;
         justify-content: space-between;
         
     }
     .disp  .box{
         width: 47%;
     }
     .disp .box img{
         width: 100%;
         vertical-align: bottom;
        
     }
     #Pieces  .text-all{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         
        
        }
        #Pieces .text-box{
            width: 47%;
        }
        .text-box i{
            font-size: 50px;
            color: #6168ff;
        }
        .text-box h2{
            font-size: 20px;
            color: #333;
            font-weight: 700;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .text-box p{
            opacity: 0.8;
            margin-bottom: 30px;
            line-height: 1.5;
           
        }
        .disp1{
            display: flex;
          justify-content: space-between;
           

        }
        .disp1 .photos{
            width: 100%;
          
            
        }
        .disp1 .photos img{
            width: 100%;
        
            padding:0rem 60px 0rem 60px;
        }
        
        #Destination{
            padding-right: 3rem;

        }

        #Destination .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        #Destination h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
        }

        .allpackage{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .allpackage .box{
            width: 32%;
            
        }
          
           
          
            
        .allpackage .box img{
            width: 100%;
            vertical-align: bottom;
        }
        .allpackage .box .top{
            position: relative;
        }
        
        #Destination .bottom{
            border: 1px solid rgba(171, 150, 150, 0.272);
            padding: 1rem;
        }
          
        
        .bottom h2{
            font-size: 20px;
            font-weight: bolder;
            margin-top: 10px;
            color: #333;
            
           
        }
        
        .bottompieces .left{
          margin-right: 13px;
         
        }
        
        
        .allservice{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #Services .box{
            width: 32%;
            border: 1px solid red;
            border-radius: 5px;
            margin-top: 20px;
            padding: 20px;
            background-color: #F4F9FF;
            border-color: transparent;
        }
        #Services{
          padding: 3rem;
         
        }
        
            
        

        #Services .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        #Services h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
          
        }
        #Services .box i{
            font-size: 40px;
            color: #6168ff;
            margin-bottom: 10px;
        }
        #Services .box h2{
            font-size: 23px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        #Services p{
            line-height: 1.5;
        }
     
        #Tour .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;

        }
        #Tour h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
        }

        .all-tourphotos{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .all-tourphotos .tourphotos{
            width: 31%;
            margin-top: 20px;
        }
        .all-tourphotos .tourphotos img{
            width: 100%;
        }
        #Tour{
           padding: 5rem 0;
        }
        #Package{
            padding: 5rem;
          
        }

        #Package .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        #Package h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
        }

        .allpackage{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .allpackage .box{
            width: 32%;
            
        }
          .allpackage .box:hover .hoverspan{
              background-color: #212a42;
              color: #F4F9FF;
           
          }  
            
        .allpackage .box img{
            width: 100%;
            vertical-align: bottom;
        }
        .allpackage .box .top{
            position: relative;
        }
        .allpackage .box .top span{
            position: absolute;
            bottom: -20px;
            right: 15px;
            color: #F4F9FF;
            border: 1px solid transparent;
            background-color: #6168ff;
            padding: 12px 20px;
            border-radius: 30px;
            font-size: 18px;
            transition: 0.5s;

        }
       #Package .bottom{
            border: 1px solid rgba(171, 150, 150, 0.272);
            padding: 1rem;
        }
          .bottom i{
            font-size: 13px;
            color: rgb(240, 190, 98) ;
            margin-bottom: 13px;
        }
        .bottom h2{
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 10px;
            color: #333;
        }
        .bottompieces{
            display: flex;
            align-items: center;
           
           
        }
        .bottompieces .left{
          margin-right: 13px;
        }
        .bottompieces i{
            color:black;
        }
        #Giant{
            background-image: url('/img/client-bg.png');
            padding: 4rem 0px;
            
           
         
        }

        .allphotos1{
            display: flex;
           justify-content: space-evenly;
            align-items: center;
            border: 2px transparent;
            padding: 3.5rem;
          
           background-color: #6168ff;
           
          
        }
        .allphotos1 img{
            width: 100%;
            display: inline-block;
            border-radius: 4px;
            
        }
        .allphotos1 .pieces{
            width: 14%;
        }
        #Customers{
            padding: 5rem;
        }
            
        #Customers .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;

        }
        #Customers h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
        }
   
           
        #Customers .photos{
            width: 32%;
            border: 1px solid red;
            border-radius: 5px;
            margin-top: 20px ;
            padding: 2rem 0;
            background-color: #F4F9FF;
            border-color: transparent;
            
        }
        .all-photos{
            display: flex;
           justify-content: space-between;
          align-items: center;

        }
        .all-photos .photos{
           text-align: center;
        }
        .all-photos .photos img{
            width: 35%;
            border-radius: 100px;
            margin-bottom: 20px;
        }
        .all-photos .photos p{
            font-size: 19px;
            text-align: left;
            margin-bottom: 20px;
            margin-left: 40px;
            
            
            
        }
        .all-photos .photos h3{
            letter-spacing: 0.093vh;
            margin-bottom: 10px;
        }
        .all-photos .photos h5{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .all-photos .photos i{
            font-size: 10px;
            color:rgb(245, 188, 80);
        }

  

        #News{
            padding: 5rem;
        }

        #News .h2edit{
            text-align: center;
            font-size: 15px;
            color: #6168ff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        #News h1{
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;
            font-size: 30px;
        }

       #News .allpackage{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #News .allpackage .box{
            width: 32%;
            
        }
          
           
          
            
        #News .allpackage .box img{
            width: 100%;
            vertical-align: bottom;
        }
        #News .allpackage .box .top{
            position: relative;
        }
        
        #News .bottom{
            border: 1px solid rgba(171, 150, 150, 0.272);
            padding: 2.5rem;
        }
          
        
        #News  .bottom h2{
            font-size: 20px;
            font-weight: bolder;
            margin-top: 10px;
            color: #333;
            
           
        }
        
        #News  .bottompieces .left{
          margin-right: 13px;
         
        }
        
        

       